/* 공동 */
#container {
    font-size: 22px;
    height: auto;
}

.content {
    width:800px;
    margin: 80px auto;
}

/* 페이지 타이틀 */
.page-title {
    display: inline-block;
    padding: 8px 0;
    margin: 12px 0;
    font-size: 1.2em;
    text-align: center;
    border-radius: 4px;
}

/* 리뷰작성 헤더 */
.review-form-header {
    display: flex;
    align-items: center;
    margin: 24px 0;
}
/* 운동시설 정보 */
.facility-card {
    display: flex;
    flex: 1.5;
    padding: 12px;
    border: 1px solid #D6D6D6;
    cursor: pointer;
}
.card-img {
    flex: 1;
}
.card-img img {
    width: 100%;
    height: 100%;
}
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
    padding-left: 24px;
}
.card-content__top {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    font-weight: 600;
}
.card-content__body {
    font-size: 0.7em;
}
.card-content__body .card-tel::before {
    content: '[전화번호]';
}
.card-content__body .card-addr::before {
    content: '[주소]';
}
/* 별점 */
.rating-score {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 48px;
}
.rating-score p {
    font-size: 18px;
}
.rating-score .text-score {
    font-size: 32px;
    margin: 12px;
}
.rating-score .text-score::after{
    content: '점';
}
.rating-score .outer-star {
    position: relative;
    pointer-events: none;
    color: #D6D6D6;
}
.rating-score .inner-star {
    position: absolute;
    left: 0;
    width: 100%;
    color: gold;
    overflow: hidden;
}
.rating-score .change-score {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    cursor: pointer;
    opacity: 0;
}
/* 리뷰 작성 form */
.textarea {
    overflow: auto;
    width: 100%;
    height: 300px;
    font-size: 18px;
    padding: 8px;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
}
.textarea:focus {
    outline: 1px solid var(--color-main-header);
}
.error-class {
    color: red;
    text-align: center;
    font-weight: bold;
}

/* 이미지 미리보기 */
.upload-img-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px 0;
}
.upload-img-wrap label {
    display: inline-block;
    font-size: 12px;
    padding: 12px;
    border-radius: 8px;
    background-color: var(--color-others-header);
    cursor: pointer;
    color: white;
}
.input-img {
    display: none;
}
.preview-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 12px 0;
    width: 100%;
    height: 150px;
    background-color: rgba(78, 83, 157, 0.101);
    border-radius: 12px;
}
.preview-wrap i {
    position: absolute;
    font-size: 72px;
    color: rgba(78, 83, 157, 0.553);
    z-index: -1;
}
.preview-img {
    display: flex;
    flex-direction: column;
}
.preview-img img {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    margin: 0 4px;
}
.preview-img button {
    border-style: none;
    background-color: rgb(246, 75, 75, 0.6);
    margin: 4px;
    padding: 4px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
    transition: all 0.2s;
}
.preview-img button:hover {
    background-color: rgb(246, 75, 7);
}

/* 리뷰 관련 버튼 */
.review-btn {
    background-color: var(--color-others-header);
    color: white;
    border-style: none;
    padding: 6px;
    margin: 4px;
    width: 120px;
    cursor: pointer;
    border-radius: 4px;
}
