<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/base-sub :: layoutSub(~{::title}, ~{::link}, ~{::main#container}, ~{::script})}">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>리뷰작성</title>
<link rel="stylesheet" href="../../static/resource/css/review/review.css" th:href="@{/resource/css/review/review.css}">
</head>
<body>
    <div id="wrapper">

    <!-- 헤더 -->
    <header id="header">
        <!-- 탑 메뉴 -->
        <div class="header__menu-top">
            <span class="header__my-menu"><a href="#">로그아웃</a></span>
            <span class="header__my-menu"><a href="#">마이페이지</a></span>
            <span class="header__my-menu"><a href="#">즐겨찾기</a></span>
        </div>

        <!-- 베너 -->
        <div class="header__banner">
            <!-- 메인 로고 -->
            <div class="header__main-logo">
                <a href="#">
                    <h1 class="header__main-title">Heal-lo</h1>
                    <p class="header__sub-title">:Healthy location</p>
                </a>  
            </div>
            <div class="header__sitemenu" id="siteMenuContain">
                <div class="header__sitemenu-info" id="sitemenuInfo">게시판</div> <!-- 스크립트용 -->
                <a href="#"><i class="fa-solid fa-location-dot header__site-icon"></i></a>
                <a href="#"><i class="fa-solid fa-book-open header__site-icon"></i></a>
                <a href="#"><i class="fa-solid fa-calendar-days header__site-icon"></i></a>
            </div>
        </div>  
    </header>

    <!-- 메인 컨텐츠 -->
    <main id="container">
        <section class="content">
            <p class="page-title">리뷰등록</p>
            <article class="review-form-header">
                <div class="facility-card"
                     th:onclick="|location.href='@{/facilities/{fcno}(fcno=${facility.getFcno()})}'|"
                     th:object="${facility}"
                     th:attr="data-fcno=${facility.getFcno()}">
                    <div class="card-img">
                        <img src="../../static/resource/img/이미지준비중.jpg" th:src="*{fcimg}" alt="운동시설 사진">
                    </div>
                    <div class="card-content">
                        <div class="card-content__top">
                            <h3 class="card-title" th:text="*{fcname}">울산공공헬스장</h3>
                        </div>
                        <div class="card-content__body">
                            <p class="card-tel" th:text="*{fctel}">010-8888-7711</p>
                            <p class="card-addr" th:text="*{fcaddr}">울산 중구 옥교동 xxxx</p>
                        </div>
                    </div>
                </div>
                <div class="rating-score">
                    <p>별점을 매겨주세요</p>
                    <p class="text-score">5</p>
                    <div class="outer-star">
                        ★★★★★
                        <span class="inner-star">
                            ★★★★★
                        </span>
                        <input class="change-score" type="range" value="1" step="1" min="0" max="10">
                    </div>    
                </div>
            </article>    
            <article class="review-write-form">
                <textarea class="textarea" id="editor" maxlength="1000"></textarea>
                <div th:class="error-class"></div>
                <div class="upload-img-wrap">
                    <label for="inputImg">이미지 업로드</label>
                    <div class="review-reg">
                        <button class="btn-cancel review-btn">취소</button>
                        <button class="btn-reg review-btn">등록</button>
                    </div>
                    <input class="input-img" id="inputImg" type="file" multiple accept=".png , .jpg">                    
                </div>
                <div class="preview-wrap">
                    <i class="fa-regular fa-image"></i>
                </div>
            </article>
        </section>
    </main>

    <!-- footer -->
    <footer id="footer">
        <div class="inner">
            <h2>Heal-lo</h2>
            <ul>
                <li>상호명: heal-lo</li>
                <li>대표: 1팀</li>
                <li>주소: 울산광역시 남구 신정동</li>
                <li>이메일: ulsanheallo@naver.com</li><br>
                <li>Copyright 2022 헬로. All Rights Reserved.</li>
            </ul>
        </div>
    </footer>
    </div>  
    
    <script type="module" src="../../static/resource/js/review/review-witre.js" th:src="@{/resource/js/review/review-witre.js}"></script>
</body>
</html>