@charset "utf-8";

#container{min-height:1000px; height:auto;}

#container .content {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  #container .text-box {
    flex: 2;
  }
  #container .text-box .my-page p {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 30px;
  }
  #container .text-box .information p {
    font-size: 1.3rem;
    font-weight: 550;
    margin-top: 40px;
    margin-left: 30px;
  }
  #container .text-box .activity p {
    font-size: 1.3rem;
    font-weight: 550;
    margin-top: 40px;
    margin-left: 30px;
  }

  .history {
    flex: 6;
    display: flex; 
    flex-direction: column;
  }
  .history .menu {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.6rem; font-weight: bold;
    margin: 40px 0px;
  }

  .history .menu .notice:hover{scale: 1.2; transition: all 0.8s;}
  .history .menu .coment:hover{scale: 1.2; transition: all 0.8s;}
  .history .menu .review:hover{scale: 1.2; transition: all 0.8s;}

  .history .record {
    display: flex;
    border: 1px solid #ccc;
    padding: 5px;
  }
  .history .record .title {flex: 3.2; text-align: center; font-size: 1.3rem; font-weight: 300;}
  .history .record .dateline {flex: 1.2; text-align: center; font-size: 1.3rem; font-weight: 300;}
  .history .record .star {flex: 3; text-align: center; font-size: 1.3rem; font-weight: 300;}

  .history .substance {display:flex; padding-top: 50px;padding-right: 10px;padding-left: 10px; padding-bottom: 20px; border-bottom: 1px solid #ccc;}
  .history .substance a {flex:1.2; text-align: center; font-size: 1.3rem;}
  .history .substance .substance-dateline {flex: 0.8; text-align: center; font-size: 1.3rem}
  .history .substance .substance-star {flex: 1; text-align: center; font-size: 1.3rem}

  .button-box{display: flex; flex-direction: column;}
  #editBtn {width: 50px; background-color: #16a085; color: white; margin: 2.5px 0;}
  #delBtn {width: 50px; background-color: #16a085; color: white; margin: 2.5px 0;}
  #toEditRv {font-size: 14px;}
  #toDel {font-size: 14px;}