<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base-sub :: layoutSub(~{::title}, ~{::link}, ~{::main#container}, ~{::script})}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>즐겨찾기</title>
  <link rel="stylesheet" href="../../css/my-page/bookmark.css" th:href="@{/resource/css/my-page/bookmark.css}">
</head>
<body>
  <div id="wrapper">

    <!-- 헤더 -->
    <header id="header">
        <!-- 탑 메뉴 -->
        <div class="header__menu-top">
          <span class="header__my-menu"><a href="#">로그아웃</a></span>
          <span class="header__my-menu"><a href="#">마이페이지</a></span>
          <span class="header__my-menu"><a href="#">즐겨찾기</a></span>
        </div>

        <!-- 베너 -->
        <div class="header__banner">
          <!-- 메인 로고 -->
          <div class="header__main-logo">
            <a href="#">
              <h1 class="header__main-title">Heal-lo</h1>
              <p class="header__sub-title">:Healthy location</p>
            </a>  
          </div>
          <div class="header__sitemenu" id="siteMenuContain">
            <div class="header__sitemenu-info" id="sitemenuInfo">게시판</div> <!-- 스크립트용 -->
            <a href="#"><i class="fa-solid fa-location-dot header__site-icon"></i></a>
            <a href="#"><i class="fa-solid fa-book-open header__site-icon"></i></a>
            <a href="#"><i class="fa-solid fa-calendar-days header__site-icon"></i></a>
            <a href="#"><i class="fa-solid fa-heart header__site-icon"></i></a>
          </div>
        </div>  
    </header>
      
    <!-- 메인 컨텐츠 -->
    <main id="container">
      <div class="none"></div>
      <div class="content">
        <div class="bookmark-font">
          <p class="my-bookmark">내 즐겨찾기</p>
          <div class="bookmark-sub-font">
            <p class="new" data-order="date">가나다순</p>
            <p class="grade" data-order="score">평점 높은순</p>
          </div>
        </div>
        <th:block th:each="rec : ${list}">
          <div th:id="${rec.fcno}" class="bookmark">
            <img  th:src="${rec.fcimg}"src="https://cdn.pixabay.com/photo/2016/03/27/23/00/weight-lifting-1284616_960_720.jpg" alt="">
            <ul>
              <div id="flex">
                <a href="" th:href="@{/facilities/{fcno}(fcno=${rec.fcno})}"><li th:text="${rec.fcname}">Lorem</li></a>
                <li th:text="${rec.fcscore}"></li>
              </div>
              <li th:text="${rec.fcaddr}">Lorem ipsum dolor sit amet.</li>
              <li th:text="${rec.fctel}">052-1111-1111</li>
            </ul>
            <i id="heart" th:onclick="askDomClean(event)" class="fa-solid fa-heart header__site-icon bookmarkBtn bookmark-btn-color"></i>
          </div>
        </th:block>
      </div>
      <div class="none"></div>
    </main>

    <!-- footer -->
    <footer id="footer">
        <div class="inner">
          <h2>Heal-lo</h2>
          <ul>bookmark-btn-color
              <li>상호명: heal-lo</li>
              <li>대표: 1팀</li>
              <li>주소: 울산광역시 남구 신정동</li>
              <li>이메일: ulsanheallo@naver.com</li><br>
              <li>Copyright 2022 헬로. All Rights Reserved.</li>
          </ul>
        </div>
    </footer>
  </div>  

  <script src="../../js/my-page/bookmark.js" th:src="@{/resource/js/my-page/bookmark.js}"></script>

</body>
</html>