
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base-sub :: layoutSub(~{::title}, ~{::link}, ~{::main#container}, ~{::script})}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../static/resource/css/my_page.css" th:href="@{/resource/css/my-page/my_page.css}">
</head>
<body>
  <div id="wrapper">

      <!-- 헤더 -->
    <header id="header">
      <!-- 탑 메뉴 -->
      <div class="header__menu-top">
        <span class="header__my-menu"><a href="" th:href="@{/members/logout}">로그아웃</a></span>
        <span class="header__my-menu"><a href="" th:href="@{/members/{id}/edit(id=${session.LOGIN_MEMBER.memno})}">마이페이지</a></span>
        <span class="header__my-menu"><a href="" th:href="@{/bookmark}">즐겨찾기</a></span>
      </div>

      <!-- 베너 -->
      <div class="header__banner">
        <!-- 메인 로고 -->
        <div class="header__main-logo">
          <a href="#">
            <h1 class="header__main-title">Heal-lo</h1>
            <p class="header__sub-title">:Healthy location</p>
          </a>  
        </div>
        <div class="header__sitemenu" id="siteMenuContain">
          <div class="header__sitemenu-info" id="sitemenuInfo">게시판</div> <!-- 스크립트용 -->
          <a href="#"><i class="fa-solid fa-location-dot header__site-icon"></i></a>
          <a href="#"><i class="fa-solid fa-book-open header__site-icon"></i></a>
          <a href="#"><i class="fa-solid fa-calendar-days header__site-icon"></i></a>
          <a href="#"><i class="fa-solid fa-heart header__site-icon"></i></a>
        </div>
      </div>  
    </header>
      
      <!-- 메인 컨텐츠 -->
      <main id="container">
        <form action="" th:method="post" th:object="${form}">
          <div class="content">
            <div class="text-box">
                <div class="my-page">
                    <p>마이 페이지</p>
                </div>
                <div class="information">
                    <p><a href="" th:href="@{/members/{id}/edit(id=${form.memno})}">> 나의 정보수정</a></p>
                </div>
                <div class="activity">
                    <p><a href="" th:href="@{/members/{id}/board(id=${form.memno})}">> 나의 활동</a></p>
                </div>
            </div>
            <div class="myInformation">
                <label class="name" for="name">이름</label>
                <input id="name" type="text" name="memname" th:field="${form.memname}">

                <label class="nname" for="nname">닉네임</label>
                <input id="nname" type="text" name="memnickname" th:field="${form.memnickname}">

                <label class="id" for="id">아이디</label>
                <input id="id" type="text" name="memid" th:field="${form.memid}" readonly>

                <label class="email" for="email">이메일</label>
                <input id="email" type="text" name="mememail" th:field="${form.mememail}"
                       th:class="${#fields.hasErrors('mememail')} ? fieldError">
                <span id="mememailErr" th:if="${#fields.hasErrors('mememail')}" th:errors="*{mememail}"></span>

                <label class="changePw" for="changePw">비밀번호 변경</label>
                <input id="changePw" type="text" name="mempw" th:field="${form.mempw}">

  <!--              <label id="changePwCh" for="changePwCh">비밀번호 변경확인</label>-->
  <!--              <input id="changePwCh" type="text">-->

                <label class="phoneNb" for="phoneNb">휴대전화 번호</label>
                <input id="phoneNb" type="text" name="memtel" th:field="${form.memtel}"
                       th:class="${#fields.hasErrors('memtel')} ? fieldError">
                <span id="memtelErr" th:if="${#fields.hasErrors('memtel')}" th:errors="*{memtel}"></span>

                <div class="btn">
                  <button id="btnChange">수정완료</button>
                  <button id="btnOut" type="button">탈퇴</button>
                </div>
            </div>
            <div id="none">
              <button type="button" id="btnCheck">중복확인</button>
              <p class="change-pw-warning">대/소영문자, 숫자조합 20자 이하</p>
            </div>
          </div>
        </form>
      </main>

      <!-- footer -->
      <footer id="footer">
        <div class="inner">
            <h2>Heal-lo</h2>
            <ul>
                <li>상호명: heal-lo</li>
                <li>대표: 1팀</li>
                <li>주소: 울산광역시 남구 신정동</li>
                <li>이메일: ulsanheallo@naver.com</li><br>
                <li>Copyright 2022 헬로. All Rights Reserved.</li>
            </ul>
        </div>
    </footer>
  </div>
<script th:src="@{/resource/js/my-page/my_page.js}"></script>
</body>
</html>