
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base-sub :: layoutSub(~{::title}, ~{::link}, ~{::main#container}, ~{::script})}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../static/resource/css/my_page.css" th:href="@{/resource/css/my-page/my_page.css}">
</head>
<body>
  <div id="wrapper">

      <!-- 헤더 -->
    <header id="header">
      <!-- 탑 메뉴 -->
      <div class="header__menu-top">
        <span class="header__my-menu"><a href="#">로그아웃</a></span>
        <span class="header__my-menu"><a href="#">마이페이지</a></span>
        <span class="header__my-menu"><a href="#">즐겨찾기</a></span>
      </div>

      <!-- 베너 -->
      <div class="header__banner">
        <!-- 메인 로고 -->
        <div class="header__main-logo">
          <a href="#">
            <h1 class="header__main-title">Heal-lo</h1>
            <p class="header__sub-title">:Healthy location</p>
          </a>  
        </div>
        <div class="header__sitemenu" id="siteMenuContain">
          <div class="header__sitemenu-info" id="sitemenuInfo">게시판</div> <!-- 스크립트용 -->
          <a href="#"><i class="fa-solid fa-location-dot header__site-icon"></i></a>
          <a href="#"><i class="fa-solid fa-book-open header__site-icon"></i></a>
          <a href="#"><i class="fa-solid fa-calendar-days header__site-icon"></i></a>
          <a href="#"><i class="fa-solid fa-heart header__site-icon"></i></a>
        </div>
      </div>  
    </header>
      
      <!-- 메인 컨텐츠 -->
      <main id="container">
        <div class="content">
          <div class="text-box">
              <div class="my-page">
                  <p>마이 페이지</p>
              </div>
              <div class="information">
                  <p><a href="#">나의 정보수정</a></p>
              </div>
              <div class="activity">
                  <p><a href="#"> 나의 활동</a></p>
              </div>
          </div>
          <div class="myInformation">
              <label id="name" for="name">이름</label>
              <input id="name" type="text" name="memname" th:value="${editForm.memname}">
          
              <label id="nname" for="nname">닉네임</label>
              <input id="nname" type="text" name="memnickname" th:value="${editForm.memnickname}">
          
              <label id="id" for="id">아이디</label>
              <input id="id" type="text" name="memid" th:value="${editForm.memid}" readonly>

              <label id="email" for="email">이메일</label>
              <input id="email" type="text" name="mememail" th:value="${editForm.mememail}">
          
              <label id="changePw" for="changePw">비밀번호 변경</label>
              <input id="changePw" type="text" name="mempw" th:value="${editForm.mempw}">
          
              <label id="changePwCh" for="changePwCh">비밀번호 변경확인</label>
              <input id="changePwCh" type="text">

              <label id="phoneNb" for="phoneNb">휴대전화 번호</label>
              <input id="phoneNb" type="text" name="memtel" th:value="${editForm.memtel}">
              <div class="btn">
                <button type="submit" id="btnChange">수정완료</button>
                <button id="btnOut"><a href="#">탈퇴</a></button>
              </div>
          </div>
          <div id="none">
            <button type="submit" class="btnCheck">중복확인</button>
            <p class="change-pw-warning">대/소영문자, 숫자조합 20자 이하</p>
          </div>
        </div>
      </main>

      <!-- footer -->
      <footer id="footer">
        <div class="inner">
            <h2>Heal-lo</h2>
            <ul>
                <li>상호명: heal-lo</li>
                <li>대표: 1팀</li>
                <li>주소: 울산광역시 남구 신정동</li>
                <li>이메일: ulsanheallo@naver.com</li><br>
                <li>Copyright 2022 헬로. All Rights Reserved.</li>
            </ul>
        </div>
    </footer>
<script>
</script>
</body>
</html>