<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base-sub :: layoutSub(~{::title}, ~{::link}, ~{::main#container}, ~{::script})}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>달력화면</title>
  <link rel="stylesheet" href="../../static/resource/css/calendar/dayForm.css" th:href="@{/resource/css/calendar/dayForm.css}">
</head>
<body>
<div id="wrapper">
  <!-- 헤더 -->
  <header id="header">
    <!-- 탑 메뉴 -->
    <div class="header__menu-top">
      <span class="header__my-menu"><a href="#">로그아웃</a></span>
      <span class="header__my-menu"><a href="#">마이페이지</a></span>
      <span class="header__my-menu"><a href="#">즐겨찾기</a></span>
    </div>

    <!-- 베너 -->
    <div class="header__banner">
      <!-- 메인 로고 -->
      <div class="header__main-logo">
        <a href="#">
          <h1 class="header__main-title">Heal-lo</h1>
          <p class="header__sub-title">:Healthy location</p>
        </a>
      </div>
      <div class="header__sitemenu" id="siteMenuContain">
        <div class="header__sitemenu-info" id="sitemenuInfo">게시판</div> <!-- 스크립트용 -->
        <a href="#"><i class="fa-solid fa-location-dot header__site-icon"></i></a>
        <a href="#"><i class="fa-solid fa-book-open header__site-icon"></i></a>
        <a href="#"><i class="fa-solid fa-calendar-days header__site-icon"></i></a>
        <a href="#"><i class="fa-solid fa-heart header__site-icon"></i></a>
      </div>
    </div>
  </header>
  <!--메인 컨텐츠-->
  <main id="container">
    <div class="dayForm_main">
      <form id="dayForm" th:object="${form}">
        <div class="top">
          <div class="selected__date" th:text="*{{cdRDate}}"></div>
          <div><button type="button" id="calBtn">캘린더</button></div>
        </div>
        <div class="dates">
          <div class="written">
            <div>작성일</div><div class="written__date" th:text="*{{cdCDate}}"></div>
          </div>
          <div class="update">
            <div>수정일</div><div class="update__date" th:text="*{{cdCDate}}"></div>
          </div>
        </div>
        <textarea id="editor" class="content" th:field="*{cdContent}" style="display:none" readonly>
          운동기록 내용
        </textarea>
      </form>
      <div class="btngrp">
        <button type="button" id="editBtn">수정</button>
        <button type="button" id="delBtn">삭제</button>
      </div>
    </div>
  </main>
  <!-- footer -->
  <footer id="footer">
    <div class="inner">
      <h2>Heal-lo</h2>
      <ul>
        <li>상호명: heal-lo</li>
        <li>대표: 1팀</li>
        <li>주소: 울산광역시 남구 신정동</li>
        <li>이메일: ulsanheallo@naver.com</li><br>
        <li>Copyright 2022 헬로. All Rights Reserved.</li>
      </ul>
    </div>
  </footer>
</div>
<script src="../../static/resource/js/editor/ckeditor.js" th:src="@{/resource/js/editor/ckeditor.js}"></script>
<script>
    // 캘린더버튼 클릭 시
    calBtn.addEventListener('click', e=>{
      location.href = '/calendar';
    });
    // 수정버튼 클릭 시
    editBtn.addEventListener('click', e=>{
      const rdate = document.querySelector('.selected__date').textContent;
      const url = `/calendar/${rdate}/edit`;
      location.href = url;
    });

    // 삭제버튼 클릭 시
    delBtn.addEventListener('click', e=>{
      if(!confirm('정말로 삭제하시겠습니까?')) return;
      const rdate = document.querySelector('.selected__date').textContent;
      const url = `/calendar/${rdate}/del`;
      location.href = url;
    });

    // 에디터 툴
    ClassicEditor
		.create( document.querySelector( '#editor' ), {
			toolbar: [],
		})
		.then( (editor) => {
			window.editor = editor;
			editor.isReadOnly = true;  //읽기모드적용
		})
		.catch( (error) => {
			console.error( error );
		});

</script>
</body>
</html>