<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base-sub :: layoutSub(~{::title}, ~{::link}, ~{::main#container}, ~{::script})}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>달력화면</title>
  <link rel="stylesheet" href="../../static/resource/css/calendar/calendar.css" th:href="@{/resource/css/calendar/dayForm.css}">
</head>
<body>
<div id="wrapper">
  <!-- 헤더 -->
  <header id="header">
    <!-- 탑 메뉴 -->
    <div class="header__menu-top">
      <span class="header__my-menu"><a href="#">로그아웃</a></span>
      <span class="header__my-menu"><a href="#">마이페이지</a></span>
      <span class="header__my-menu"><a href="#">즐겨찾기</a></span>
    </div>

    <!-- 베너 -->
    <div class="header__banner">
      <!-- 메인 로고 -->
      <div class="header__main-logo">
        <a href="#">
          <h1 class="header__main-title">Heal-lo</h1>
          <p class="header__sub-title">:Healthy location</p>
        </a>
      </div>
      <div class="header__sitemenu" id="siteMenuContain">
        <div class="header__sitemenu-info" id="sitemenuInfo">게시판</div> <!-- 스크립트용 -->
        <a href="#"><i class="fa-solid fa-location-dot header__site-icon"></i></a>
        <a href="#"><i class="fa-solid fa-book-open header__site-icon"></i></a>
        <a href="#"><i class="fa-solid fa-calendar-days header__site-icon"></i></a>
        <a href="#"><i class="fa-solid fa-heart header__site-icon"></i></a>
      </div>
    </div>
  </header>
  <!--메인 컨텐츠-->
  <main id="container">
    <form id="dayForm">
      <div class="selected__date">
        2022.09.23
      </div>
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id libero quos unde quas fugiat placeat corrupti temporibus eos velit, vel voluptatum aut doloremque ut architecto, eligendi debitis perferendis veritatis et?
        Ducimus architecto, laborum voluptates obcaecati ea at et. Numquam, ipsam. Est, impedit excepturi repudiandae molestiae amet in suscipit sit odio, nemo fugit hic fuga alias. Quisquam aspernatur animi saepe fugit.
        Maxime ad incidunt provident deleniti excepturi aspernatur quisquam sapiente ullam odit laudantium dolores quidem est aliquam porro, et possimus alias magni doloribus maiores voluptas accusantium reprehenderit aut! Quidem, beatae accusantium.
        Porro aliquid consequatur aspernatur quidem incidunt amet autem, quo iusto odio nobis quam nisi modi. Deserunt aut expedita quam consequuntur officia officiis in deleniti nam, natus temporibus laboriosam, culpa tempore?
        Nemo quae necessitatibus, nostrum nisi pariatur aspernatur natus, vitae voluptates rem libero tempore expedita accusamus enim nam explicabo quod iure in beatae! Iusto aliquid alias est, voluptate temporibus molestiae corporis.
      </div>
    </form>
    <div class="btngrp">
      <button type="button" id="editBtn">수정</button>
      <button type="button" id="delBtn">삭제</button>
    </div>
  </main>
  <!-- footer -->
  <footer id="footer">
    <div class="inner">
      <h2>Heal-lo</h2>
      <ul>
        <li>상호명: heal-lo</li>
        <li>대표: 1팀</li>
        <li>주소: 울산광역시 남구 신정동</li>
        <li>이메일: ulsanheallo@naver.com</li><br>
        <li>Copyright 2022 헬로. All Rights Reserved.</li>
      </ul>
    </div>
  </footer>
</div>
<script>
  delBtn.addEventListener('click', e=>{
    if(!confirm) return;
  });

</script>
</body>
</html>