@charset "utf-8";
#header .header__banner .header__main-logo .header__main-title {
  color: var(--color-main-header);
}
#container {
  height: auto;
  border-top: 3px solid #777;
}
#container .wrap {
  display: block;
  position: relative;
}
#container .wrap .loginBox {
  display: flex;
  justify-content: center;
  width: 350px;
  border: 4px solid #f39c12;
  padding: 30px;
  text-align: center;
  border-radius: 23px;
  height: auto;
  margin: 100px auto;
  box-shadow: 10px 10px 20px #ccc;
}

#container .wrap .loginBox #login {
  font-size: 30px;
  margin-bottom: 20px;
}
#container .wrap .loginBox label {
  display: inline-block;
  width: 80px;
  text-align: center;
  padding: 3px;
  margin-bottom: 20px;
}

#container .wrap .loginBox input {
  padding: 4px;
}

#container .wrap .loginBox .btn {
  font-size: 15px;
  width: 100%;
  height: 35px;
  background-color: #f39c12;
  color: white;
  border: 0ch;
  border-radius: 5px;
  margin-top: 15px;
  box-shadow: 3px 3px 5px #ccc;
}

#container .wrap .loginBox .btn:visited,
#container .wrap .loginBox .btn:hover {
  text-decoration: none;
  text-decoration-line: none;
  cursor: pointer;
  font-weight: bold;
}

#container .wrap .loginBox img {
  text-align: center;
  width: 100%;
  height: 50px;
  border: none;
}
#container .wrap .loginBox img:hover {
  cursor: pointer;
}
#container .wrap .loginBox .sns_btn {
  background-color: white;
  width: auto;
  margin: 7px;
  border: none;
}
#container .wrap .loginBox .snsBox {
  margin: 30px 0 15px 0;
}

#container .wrap .loginBox .findBox .btn {
  font-size: 15px;
  width: 100%;
  height: 35px;
  background-color: #ccc;
  color: black;
  border: 0ch;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #ccc;
}
#container .wrap .loginBox .findBox .btn:hover {
  font-weight: bold;
}

.fieldError{
  font-weight:bold;
  color: red;
}
