@charset "utf-8";

/* * {outline: 1px solid red;}*/
#reply {
width:100%;
  margin: 0 auto;
}
#reply .reply__hit {
  display: flex;
  margin-top: 10px;
  margin-bottom:10px;
}
#reply .reply__main {
  width: 100%;
  height: auto;
}

#reply .reply__main .reply__form {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #eee;
}

#reply .reply__main .reply__form .reply__list.all {
  display: flex;
  flex-direction: column;
  margin: 10px 50px;
}

#reply .reply__main .reply__form .reply__list.all .reply__list_form {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
}
#reply .reply__main .reply__form .reply__list.all .reply__list_form .reply__list {
  display: flex;
  flex-direction: column;
}
#reply .reply__main .reply__form .reply__list.all .reply__list_form .reply__list .writer {
  display: flex;
  margin: 5px 0;
}
#reply .reply__main .reply__form .reply__list .nickname {
  flex: 9;
  font-size: 18px;
  font-weight: 600;
}
#reply .reply__main .reply__form .reply__list .content {
  margin: 5px 0;
  height: auto;
}
#reply .reply__main .reply__form .reply__list .btngrp{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#reply .reply__main .reply__form .reply__list .btngrp button {
  width: 30px;
}


#reply .reply__main .reply__form .reply__list_form .reply__reReply {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}
#reply .reply__main .reply__form .reply__list_form .reply__reReply .reReply {
  margin-left: 15px;
}
#reply .reply__main .reply__form .reply__list_form .reply__reReply .reReply:hover {
    cursor: pointer;
}
#reply .reply__main .reply__form .reply__list_form .reply__reReply .date, .reReply {
  font-size: 12px;
}

/* 대댓글 등록창*/
#reply .reply__main .reply__form .reply__list.all .reply__reReply_form {
  width: 80%;
  height: 70px;
  display: flex;
  margin: 0 auto;
}
#reply .reply__main .reply__form .reply__list.all .reply__reReply_form .toolbox {
  flex: 9;
  width: 80%;
  background-color: white;
  height: 50px;
  resize: none;
  margin-top: 5px;
  margin-bottom: 10px;

}
#reply .reply__main .reply__form .reply__list.all .reply__reReply_form .btngrp {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 10px;
  margin-bottom: 10px;
}
#reply .reply__main .reply__form .reply__list.all .reply__reReply_form .btngrp button {
  font-size: 12px;
  line-height: 15px;
  width: 50px;
  background-color: var(--color-others-header);
  color: white;
  border: none;
}

/* 대댓글 들여쓰기*/
#reply .reply__main .reply__form .reply__list.all.depth1 {
  margin-left: 100px;
}


/* 수정창 */
#reply .reply__main .reply__form .reply__list .reply__edit {
  width: 90%;
  height: 70px;
  display: flex;
  margin: 0 auto;
}

#reply .reply__main .reply__form .reply__list .reply__edit .reply__edit.toolbox {
  flex: 9;
  width: 80%;
  background-color: white;
  height: 50px;
  resize: none;
  margin-top: 5px;
  margin-bottom: 10px;
}

#reply .reply__main .reply__form .reply__edit .reply__edit.btngrp {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 10px;
  margin-bottom: 10px;
}
#reply .reply__main .reply__form .reply__edit .reply__edit.btngrp button {
  font-size: 12px;
  line-height: 15px;
  width: 50px;
  background-color: var(--color-others-header);
  color: white;
  border: none;
}

/* 등록창 */
#reply .reply__main .reply__write {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
#reply .reply__main .reply__write .content {
  width: 99%;
  margin: 0 auto;
}
#reply .reply__main .reply__write .toolbox {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  resize: none;
  border: 2px solid #eee;
  outline: none;
}
#reply .reply__main .reply__write .btngrp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}
#reply .reply__main .reply__write .btngrp button {
  font-size: 15px;
  line-height: 18px;
  width: 50px;
  background-color: var(--color-others-header);
  color: white;
  border: none;
  margin-left: 5px;
}