@charset "utf-8";

/* * {
    outline: 1px solid red;
} */
#container {
    width: 80%;
    height: 800px;
    margin: 6% auto;
}
#container #dayForm {
    width: 90%;
    height: 700px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}
#container #dayForm .selected__date{
    font-size: 1.7em;
    margin-bottom: 20px;
}
#container #dayForm .dates {
    margin-bottom: 20px;
    flex-direction: column;
}
#container #dayForm .dates .written,
#container #dayForm .dates .update {
    display: flex;
}

#container #dayForm .written__date,
#container #dayForm .update__date {
    margin-left: 15px;
    font-size: 1em;
}
#container #dayForm .content {
    width: 100%;
    height: 650px;
    scroll-behavior: auto;
}
#container .btngrp {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: end;
}
#container .btngrp button {
    margin-left: 8px;
}