@charset "utf-8";

/* * {
    outline: 1px solid red;
} */
#container {
    width: 80%;
    height: auto;
    margin: 6% auto;
}
#container .dayForm_main {
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}
#container #dayForm {
  margin-top: 25px;
}
#container #dayForm .top {
    display: flex;
    justify-content: space-between;
}
#container #dayForm .top .selected__date{
    font-size: 1.7em;
    margin-bottom: 20px;
}
#container #dayForm .top button {
    background-color: #16a085;
    color: white;
    border: none;
    width: 70px;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
}
#container #dayForm .top button:hover {
    cursor: pointer;
}
#container #dayForm .dates {
    margin-bottom: 20px;
    flex-direction: column;
}
#container #dayForm .dates .written,
#container #dayForm .dates .update {
    display: flex;
}

#container #dayForm .written__date,
#container #dayForm .update__date {
    margin-left: 15px;
    font-size: 1em;
}
#container #dayForm .update {
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 0.5px solid #ddd;
}
#container #dayForm .ck-blurred {
    height: 650px;
    scroll-behavior: auto;
}
#container .btngrp {
    width: 90%;
    margin: 15px auto;
    display: flex;
    justify-content: end;
}
#container .btngrp button {
    margin-left: 8px;
}