@charset "utf-8";

/* * {
    outline: 1px solid red;
} */
#container {
    width: 80%;
    height: auto;
    margin: 6% auto;
}
#container .editForm_main {
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}
#container #editForm .selected__date {
    margin-top: 15px;
    margin-bottom: 20px;
}
#container #editForm .editor {
    display: flex;
    height: 40px;
}
#container #editForm .editor .font__size {
    flex: 1;
}
#container #editForm .editor .font__family {
    flex: 1;
}
#container #editForm .editor .font__weight {
    flex: 1;
}
#container #editForm .editor .add__img {
    flex: 1;
}

#container #editForm textarea {
    width: 100%;
    height: 550px;
    outline: none;
    resize: none;
    scroll-behavior: auto;
}
#container .btngrp {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: end;
}
#container .btngrp button {
    margin-left: 8px;
}

/* 에디터 */
.ck .ck-editor{
  padding: 50px;
  min-height:300px;
  min-width:800px;
  max-width: 900px;
  overflow: hidden;
  padding: 10px 20px 10px 20px;
}

.ck .ck-editor__editable{
  min-height: 300px;
  max-height: 1000px;
  scroll-behavior: auto;
  /* min-width:800px;
  max-width: 900px; */
  overflow: hidden;
  padding: 10px 20px 10px 20px;
}


.ck .ck-editor__editable_inline{
  padding: 50px;
}
