<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/base-sub :: layoutSub(~{::title}, ~{::link}, ~{::main#container}, ~{::script})}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>검색페이지</title>
  <link id="bootstrap" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="../../static/resource/css/template/common.css" th:href="@{/resource/css/template/common.css}">
  <link rel="stylesheet" href="../../static/resource/css/search-facility/facility.css" th:href="@{/resource/css/search-facility/facility.css}">
</head>

<body>
  <div id="wrapper">

    <!-- 헤더 -->
    <header id="header">

      <!-- 탑 메뉴 -->
      <div class="header__menu-top">
        <span class="header__my-menu"><a href="#">로그아웃</a></span>
        <span class="header__my-menu"><a href="#">마이페이지</a></span>
        <span class="header__my-menu"><a href="#">즐겨찾기</a></span>
      </div>

      <!-- 베너 -->
      <div class="header__banner">

        <!-- 메인 로고 -->
        <div class="header__main-logo">
          <a href="#">
            <h1 class="header__main-title">Heal-lo</h1>
            <p class="header__sub-title">:Healthy location</p>
          </a>
        </div>
        <div class="header__sitemenu" id="siteMenuContain">
          <div class="header__sitemenu-info" id="sitemenuInfo">게시판</div> <!-- 스크립트용 -->
          <a href="#"><i class="fa-solid fa-location-dot header__site-icon"></i></a>
          <a href="#"><i class="fa-solid fa-book-open header__site-icon"></i></a>
          <a href="#"><i class="fa-solid fa-calendar-days header__site-icon"></i></a>
        </div>
      </div>  
    </header>

    <!-- 메인 컨텐츠 -->
    <main id="container">

      <!-- 시설 정보 wrap -->
      <section class="facility" th:attr="data-fcno=${facility.getFcno}" th:object="${facility}" >

        <!-- 시설 정보 헤더 -->
        <article class="facility-header">

          <!-- 시설 타이틀         -->
          <h2 class="facility-title" th:text="*{fcname}">온산문화체육센터</h2>

          <!-- 즐겨찾기 버튼 -->
          <i class="fa-solid fa-heart favorite-icon"></i>
        </article>

        <!-- 시설 정보 바디-->
        <article class="facility-body">

          <!-- 시설 메인 이미지 -->
          <div class="img-wrap ">
            <img class="facility-img "
              th:src="*{fcimg}"
              alt="운동시설 대표이미지">
          </div>

          <!-- 시설 상세 정보 -->
          <div class="facility-detail-wrap">

            <div class="facility-detail__info">
              <h3 class="facility-detail__title">시설종류</h3>
              <div class="facility-detail__sub" th:text="*{fctype}">
                <p>간이운동장</p>
              </div>
            </div>
            <div class="hr"></div>

            <div class="facility-detail__info">
              <h3 class="facility-detail__title">운영상태</h3>
              <div class="facility-detail__sub" th:text="*{fcstatus}">
                <span>헬스</span>
              </div>
            </div>
            <div class="hr"></div>

            <div class="facility-detail__info">
              <h3 class="facility-detail__title">홈페이지</h3>
              <div class="facility-detail__sub">
                <p><a href="#"
                        th:href="*{fchomepage} == '-' ? '#' : 'http://' + *{fchomepage}"
                        th:text="*{fchomepage}">https://www.naver.com</a></p>
              </div>
            </div>
            <div class="hr"></div>

            <div class="facility-detail__info">
              <h3 class="facility-detail__title">연락처</h3>
              <div class="facility-detail__sub" th:text="*{fctel}">
                <p>052-229-9660</p>
              </div>
            </div>
            <div class="hr"></div>

            <div class="facility-detail__info">
              <h3 class="facility-detail__title">주소</h3>
              <div class="facility-detail__sub" th:text="*{fcaddr}">
                <p>울산광역시 중구 xxxxxxxxxxx</p>
              </div>
            </div>
            <div class="hr"></div>
          </div>
        </article>
        <article class="facility-footer">
          <div class="title facility-detail__title"><span>최근 업로드 사진</span></div>
          <div class="new-image-wrap">
          </div>
        </article>
      </section>

      <!-- 사이드 메뉴바 -->
      <div class="fixed-menu-wrap">
        <div class="fixed-menu">
          <a href="#container" class="move-top"><i class="fa-solid fa-arrow-up-long"></i></a>
          <a href="" th:href="@{/facilities}" class=""><i class="fa-solid fa-location-dot header__site-icon"></i></a>
          <a href="" th:href="@{/boards/list/?category=BD001}" class=""><i class="fa-solid fa-book-open header__site-icon"></i></a>
          <a href="" th:href="@{/calendar}" class=""><i class="fa-solid fa-calendar-days header__site-icon"></i></a>
        </div>
      </div> 

      <!-- 리뷰 -->
      <section class="review" id="review">
        <p class="review-header__title">리뷰</p>

        <!-- 리뷰 헤더 -->
        <article class="review-header">
          <div class="total-info">
            <p class="total">전체 리뷰 : <span class="review-cnt">0개</span></p>
            <select class="order-by-selector">
              <option value="dateDesc">최근등록순</option>
              <option value="dateAsc">오래된순</option>
              <option value="scoreDsc">별점높은순</option>
            </select>
          </div>

          <!-- 리뷰 헤더-메인 -->
          <div class="review-header__main">
            <div class="rating-score">
              <p class="text-score" >0.0</p>
              <div class="outer-star">
                  ★★★★★
                  <span class="inner-star">
                      ★★★★★
                  </span>
                  <input class="change-score" type="range" value="1" step="1" min="0" max="10">
              </div>    
            </div>   
          </div>

          <!-- 리뷰 작성 버튼 -->
          <div class="write-btn-wrap">
            <button class="review-write btn-review">리뷰작성</button>
          </div>
        </article>

        <!-- 리뷰 목록 -->
        <article class="review-lists">

<!--          <div class="empty-message">-->
<!--            <p>리뷰가 없습니다. 리뷰를 달아주세요!</p>-->
<!--          </div>-->

<!--        <div class="review-card">-->
<!--          <div class="review-card__info">-->
<!--            <div class="rating-score review-card__star">-->
<!--              <div class="outer-star">-->
<!--                ★★★★★-->
<!--                <span class="inner-star">-->
<!--                    ★★★★★-->
<!--                </span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <span class="user-name">이재진</span>-->
<!--            <span class="date">2022.09.09</span>-->
<!--            <p class="preview-contents moreview-on" disabled>Lorem, ipsum dolor sit ametLorem, ipsum dolor sit ametLorem, ipsum dolor sit ametLorem, ipsum dolor sit ametLorem, ipsum dolor sit ametLorem, ipsum dolor sit ametLorem, ipsum dolor sit ametLorem, ipsum dolor sit ametLorem, ipsum dolor sit ametLorem, ipsum dolor sit ametLorem, ipsum dolor sit amet </p>-->
<!--          </div>-->
<!--          <div class="preview-wrap">-->
<!--            <img src="https://images.unsplash.com/photo-1630703178161-1e2f9beddbf8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTF8fGd5bXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" data-bs-toggle="modal" data-bs-target="#modal">-->
<!--          </div>-->
<!--        </div>-->

        <!-- 페이징 -->
        <nav aria-label="Page navigation example" class="pagination-wrap">
          <ul class="pagination pagination-md">
            <li class="page-item">
              <a class="page-link shadow-none" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link shadow-none" href="#reviewContainer">1</a></li>
            <li class="page-item"><a class="page-link shadow-none" href="#reviewContainer">2</a></li>
            <li class="page-item"><a class="page-link shadow-none" href="#reviewContainer">3</a></li>
            <li class="page-item">
              <a class="page-link shadow-none" href="#reviewContainer" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        </article>
      </section>

      <!-- 이미지 확대 뷰 -->
      <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img src="" alt="">
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- footer -->
    <footer id="footer">
      <div class="inner">
        <h2>Heal-lo</h2>
        <ul>
          <li>상호명: heal-lo</li>
          <li>대표: 1팀</li>
          <li>주소: 울산광역시 남구 신정동</li>
          <li>이메일: ulsanheallo@naver.com</li><br>
          <li>Copyright 2022 헬로. All Rights Reserved.</li>
        </ul>
      </div>
    </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
          crossorigin="anonymous"></script>
  <script th:inline="javascript">const fcscore = [[${facility.fcscore}]]</script>
  <script type="module" src="../../static/resource/js/search-facility/facility-page.js" th:src="@{/resource/js/search-facility/facility-page.js}"></script>
  <script th:inline="javascript">
    document.querySelector('.favorite-icon')
            .style.color = [[${facility.bookmarking}]] ? 'var(--color-main-header)' : 'black';
  </script>
</body>

</html>